*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #222;
}
 
.carousel {
    width: 96vw;
    height: 96vh;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}
.slide > img {
    display: block;
    margin: auto;
    width: 97%;
    height: 97%;
    object-fit: fill;
    object-position: center;
}

.slide[data-active]{
    z-index: 1;
    opacity: 1;
    transition-delay: 0;
}
.carousel-btn {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 10rem;
    top:50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .0);
    cursor: pointer;
    border-radius: .25rem;
    padding:0 .5rem;
    background-color: rgba(0,0,0, .0);
    /* display:none; */
}
/* .carousel-btn:hover{
    display: block;
} */

.carousel-btn:hover {
    color: white;
    background-color: rgba(0,0,0, .2);
}

.carousel-btn.prev{
    left:1rem;
}
.carousel-btn.next{
    right: 1rem;
}

/* @media screen and (max-width: 480px) {
  .carousel {
   width:80vw;
   height: 50vh;
  }
  .carousel-btn{
    font-size: 5rem;
  }
.slide > img {
    object-position: center;
    height: auto;
  } 
} */